
/* super reset super extra intensivo  triturador de navegadores*/
* { margin: 0; padding: 0; box-sizing: border-box; }


/*  UGLY, 4  DEBUG!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/ 
/* * {border: 3px gold;}  */

* {
  /* not too pretty, not my goal yet*/
  transition-property: height , width , transform ,  ;
  transition-duration: 100ms;  
}


.div_main {      /*  inside: showing  1 div,  OR 2 divs in 2 rows */

  /* Position=  down, full width */
  position: fixed;
  bottom: 0;
  width: 100%;

  /* Behaviour as a container*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  overflow: hidden;  

  /* L&F */
  background-color: gray;
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
 }

.div_1, .div_2 {        /* 2divs as 2rows */

  /* Behaviour as a container*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  align-items: center;

  /* Pos */
  width: 100%;

  /* L&F */
  /* background-color: blueviolet;            UGLY4  DEBUG!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
} 

.div_search,  .div_crud, .div_custom, .div_okcancel, .div_waiting {
  border: solid 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between; 
  align-items: center;
}
.div_nav  {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  align-items: center;
}
.div_confirm {
  border: solid 1px;
  width: 100%;
  flex-direction: column;
  justify-content: left;
}

.deactived-panel {
  height: 0%;
  width: 0%; 
  max-height: 0px;
  transform: scaleX(0);



  /* display: none;
  transition-delay: display 3s; */
}


.svg_thing{             /*slower, smoother, still ANOYING */
  height: 100%;
  animation: movimiento  2s linear 1s infinite;
  transform-origin: center;
}
@keyframes movimiento{
   0% {transform: scaleY(1);}
  25% {transform: scaleY(0.8);}
  50% {transform: scaleY(0.9);}
  75% {transform: scaleY(0.7);}
}

.div_msg {
  width: 100%;
  margin: auto;
  flex: auto;
  
  transition: 0.1s;
  transition-property: color;
  color: rgb(11,11,11);
  background-color: darkgray;  
}

.msg_flash {
  transition: 0.1s;
  transition-property: color;
  color: darkgray;
  background-color: black;  
}

.div_main button {          /* ALL buttons, non L&F attr ONLY */
/*  display:flex;          no aplicable, I think*/
  flex-direction: row !important;   /* just test. !important "bad practice" seems good in crudpad behaviourlike disable*/
  flex-wrap: nowrap !important;
}

.button_crud {            /*  L&F only class  */
  border-radius: 5px;
  color: white;
  /* background-color: #0F5897; */
  /* padding: 5px 10px 8px 10px;  */
  justify-content: center;

  padding: 5px;
  margin: 1px;
  outline: none;
  color: white;
  background-color: darkblue;
  /*border: gray 2px   ;*/
  text-align: center;      
  box-shadow: 3px 3px rgb(48, 51, 54);
  /*  background: linear-gradient(75deg, rgb(6, 6, 58), rgb(97, 116, 202))    */
 /* background: linear-gradient(75deg, rgb(11,11,11), darkblue)*/

}

/* Sigo experimentando...      */
/*.div_crud button:hover {background-color:rgb(0, 102, 255) ; }    hover doesnt look good on touch devices */
.button_crud:disabled {
  color:white;
  background-color: grey; 
  background: linear-gradient(75deg, gray, blue)
}
.button_crud:active {
 background-color: lightblue;
  box-shadow: 1px 1px #666;
  transform: translate(5%,5% );
}

/* --------------------------------------------------------------------------- */
.div_msg p {               
  display:flex;
  text-align: left;
  align-content: stretch;
  justify-content: center;
}

.div_pconfirmmsg {
  display: flex;
  text-align: left;
  width: 100%;
  justify-content: center;
}

.div_exit{     /* down right I suppose  */
  display: flex;
  justify-content: right;
  align-content: flex-end;
}
.div_search input {
  border: solid 1px black;
  background-color: lightgray;
  margin: 2px;
}


/*
 Not sure.  They no longer replace divmain, they are inside it now.
.div_confirm {
  position: fixed;
  bottom: 0;
}
.div_waiting {
  position:fixed;
  bottom:0;
}
*/

/* mode & msgs.   mode via color, msg independent           deprecated?  */
/*
.div_msg-idle {background-color: rgb(204, 202, 202);}
.div_msg-show {background-color: rgb(141, 255, 47);}
.div_msg-modi ,
.div_msg-crea {background-color: rgb(255, 80, 80);}
*/
